<header class="header">
  <nav class="nav-container">
    <a class="nav-brand" routerLink="/">Biblioteca Digital</a>
    <ul class="nav-links">
      <li>
        <a routerLink="/genres" routerLinkActive="active-link">
          <i class="fas fa-tags"></i> Gêneros
        </a>
      </li>
      <li>
        <a routerLink="/authors" routerLinkActive="active-link">
          <i class="fas fa-user-edit"></i> Autores
        </a>
      </li>
      <li>
        <a routerLink="/books" routerLinkActive="active-link">
          <i class="fas fa-book"></i> Livros
        </a>
      </li>
    </ul>
  </nav>
</header>
